body {
  width: 700px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  /*background-image: url(../images/mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;*/
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  font-size: 30px;
  color: #607D8B;
  margin-bottom: 10px;
}

h1 + p {
font-family: 'Work Sans', sans-serif;
color: #90A4AE;
margin-bottom: 10px;
}

h1 {
  margin-top: 65px;
  font-size: 50px;
  margin-bottom: 10px;
}

 p {font-size: 20px;
    line-height: 34px;
}

p + p {
  margin-top: 28px;
}

h1 + p + p {
    margin-top: 33px;
}

a {
   color: inherit;
   text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #6363636;
}
